name: InfoGuard AI Monitor

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  monitor:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t infoguard-ai .

      - name: Run monitoring container
        env:
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
        run: |
          docker run -e MONGODB_URI=$MONGODB_URI infoguard-ai
